@import '../../styles/variables';

.Input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px;
  position: relative;
  background: $message;

  @media (min-width: 992px) {
    padding: 0;
    margin-bottom: 15px;
    background: transparent;
    padding: 12px 5px;
  }

  &__btn {
    width: 35px;
    height: 35px;
    background: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;

    @media (min-width: 992px) {
      display: none;
    }

    img {
      width: 25px;
      height: 25px;
    }
  }

  &__withImage {
    width: 100%;
    height: 250px;
    margin-right: 20px;
    background: $background;
    position: relative;

    &__input {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 250px;
      max-height: 350px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 10px;

      &__imgBox {
        height: 100%;
        width: 250px;
        position: relative;

        img {
          width: 100% !important;
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }

        &__close {
          position: absolute;
          width: 30px;
          height: 30px;
          background: black;
          border-radius: 50%;
          top: 10px;
          right: 10px;

          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0.6;
          cursor: pointer;

          img {
            width: 20px !important;
            height: 20px !important;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__area {
    width: 100%;
    height: 44px;
    position: relative;
    margin: 0 12px;

    @media (min-width: 992px) {
      margin: 0;
      margin-right: 12px;
    }

    textarea {
      width: 100%;
      height: 100%;
      max-height: 350px;
      border-radius: 20px;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 10px 20px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    img {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 25px !important;
      opacity: 0.5;
      cursor: pointer;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }

  &__overlay {
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    @media (min-width: 992px) {
      display: none;
    }
  }

  &__modal {
    z-index: 1000;
    width: 90%;
    right: 50%;
    bottom: 85px;
    transform: translateX(50%);
    background: $popUp;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

    @media (min-width: 992px) {
      width: 270px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      right: 55px;
      bottom: auto;
      top: -20px;
      transform: translateY(-100%);

      &:after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        background: $popUp;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        bottom: -1px;
        right: 20px;
        transform: translateY(50%) rotate(45deg);
      }

      p {
        margin: 10px;
      }
    }

    label {
      margin: 0;
      div {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
      }
    }

    &__item {
      width: 90%;
      display: flex;
      align-items: center;
      margin: auto;
      padding: 20px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      cursor: pointer;

      @media (min-width: 992px) {
        padding: 10px;
      }

      &:last-of-type {
        border-bottom: none;
      }

      p {
        font-size: 0.9rem;
        margin: 0;
        margin-left: 10px;
      }

      img {
        width: 20px !important;
      }

      input {
        display: none;
      }
    }
  }

  &__modalClose {
    z-index: 1000;
    width: 90%;
    right: 50%;
    bottom: 15px;
    transform: translateX(50%);
    background: $popUp;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 15px;
    cursor: pointer;

    @media (min-width: 992px) {
      display: none;
    }

    p {
      margin: 0;
      color: $red;
    }
  }

  img {
    width: 30px;
  }
}
