@import '../../styles/variables';

.CurrentGroupHeader {
  width: 100%;
  background: $popUp;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  padding: 10px 20px;

  img {
    width: 25px;
    cursor: pointer;

    @media (min-width: 992px) {
      display: none;
    }
  }

  @media (min-width: 992px) {
    height: 60px;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: flex-start;
  }

  &__more {
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid $white-50;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: auto;

    @media (min-width: 992px) {
      display: flex;
    }

    img {
      display: block;
      width: 20px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: row;
    }

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: initial;
      display: block;

      @media (min-width: 992px) {
        margin-right: 15px;
        margin-bottom: 0px;
        width: 40px;
        height: 40px;
      }
    }

    div {
      display: flex;
      flex-direction: column;
    }

    p {
      margin: 0;
      font-weight: bold;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }

    span {
      color: $white-50;
      font-size: 0.8rem;
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }
  }
}
