@import '../../styles/variables';

.MessagesList {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $background;
  transition: 0.5s;
  z-index: 9999;

  @media (min-width: 992px) {
    position: static;
    height: 100vh;
    width: 100%;
    padding: 0 20px;
  }

  @media (min-width: 1250px) {
    width: calc(100% - 400px);
  }
}
