@import '../../styles/variables';

.SingleEvent {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid $white-20;
  padding: 15px;
  border-radius: 25px;
  margin-bottom: 20px;
  width: 100%;

  @media (min-width: 992px) {
  }

  &__desc {
    display: flex;
    margin-bottom: 20px;

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    &__name {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      justify-content: center;
      align-items: flex-start;

      p {
        margin: 0;
        &:first-of-type {
          font-weight: bold;
        }

        &:last-of-type {
          color: $white-50;
          font-size: 0.9rem;
        }
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;

    &__date {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 0;

        &:first-of-type {
          color: $white-50;
          font-weight: bold;
        }
      }
    }

    &__location {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      p {
        margin: 0;

        &:first-of-type {
          color: $white-50;
          font-weight: bold;
        }
      }
    }

    &__author {
      display: flex;
      flex-direction: column;

      p {
        margin: 0;
        margin-bottom: 5px;

        &:first-of-type {
          color: $white-50;
          font-weight: bold;
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
