@import '../../styles/variables';

.inputFile {
  height: 150px;
  width: 150px;
  background: $message !important;
  border-radius: 50%;
  border: 1px solid $white-20;
  position: relative;

  input {
    display: none;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    display: none;
    object-fit: cover;
  }

  img[src] {
    display: block;
  }

  &:after {
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    background: url('/img/svg/icn-plus.svg'), $green;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    right: 0;
    bottom: 0;
  }
}
