@import '../../styles/variables';

.popUp {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  left: 0;
  top: 0;

  &__content {
    width: 95%;
    position: relative;
    background: $popUp;
    height: 70%;
    margin-top: 28vh;
    padding: 20px;

    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 650px) {
      width: 90%;
      margin-top: 0vh;
    }

    @media (min-width: 768px) {
      width: 650px;
      margin-top: 0vh;
    }

    &__close {
      position: absolute;
      right: 30px;
      top: 30px;
      height: 25px;
      width: 25px;
      cursor: pointer;
    }
  }
}
