@import '../../styles/variables';

.Spinner {
  &__circle {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid $green-50;
    border-radius: 50%;
    border-top-color: $green;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
