@import '../../styles/variables';

.GroupCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__pickImage {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: $message !important;
    border-radius: 50%;
    border: 1px solid $white-20;
    position: relative;

    input {
      display: none;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      display: none;
      object-fit: cover;
    }

    img[src] {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      width: 35px;
      height: 35px;
      background: url('/img/svg/icn-plus.svg'), $green;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      right: 0;
      bottom: 0;
    }
  }

  &__inputOffset {
    margin-top: 20px;
    position: relative;
    max-width: 400px;
    min-width: 250px;
    width: 95%;

    label {
      position: absolute;
      top: 0;
      left: 10px;
      transform: translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
    }

    input {
      width: 100%;
      background: $message;
      border: 0;
      padding: 10px;
      border-radius: 10px;
    }

    textarea {
      width: 100%;
      background: $message;
      border: 0;
      padding: 10px;
      border-radius: 10px;
    }
  }

  &__datePicker {
    max-width: 400px;
    min-width: 250px;
    width: 100%;

    label {
      color: $white-50;
    }
  }
}
