@import '../../styles/variables';

.toastNotification {
  z-index: 99999999;
  display: flex;
  height: 55px;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  width: calc(100% - 30px);
  max-width: 550px;
  left: 50%;
  bottom: 35px;
  transform: translateX(-50%);

  @media (min-width: 1140px) {
    left: auto;
    bottom: auto;
    right: 50px;
    top: 100px;
    transform: translateX(0%);
  }

  &.error {
    background: $red;
    box-shadow: 0 0 0 2px $red-20;
  }

  &.succes {
    background: $green;
    box-shadow: 0 0 0 2px $green-20;
  }

  p {
    width: 100%;
    font-size: 0.8rem;
  }

  img {
    width: 25px;
    margin: 0 15px;
  }

  .toastNotification__close {
    cursor: pointer;
  }
}
