@import '../../styles/variables';

.PopularGroups__box {
  background: $message;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-right: 21px;
  padding: 20px;
  width: 270px;
  height: 250px;
  flex-shrink: 0;
  border-radius: 25px;
  margin-top: 50px;
  padding-top: 40px;
  cursor: pointer;

  h3 {
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 20px;
    width: max-content;

    @media (min-width: 768px) {
      width: auto;
      transform: none;
      font-size: 2rem;
    }
  }

  p {
    margin-bottom: 0;
    text-align: center;
    font-size: 0.7rem;
    color: $white-50;

    @media (min-width: 768px) {
      display: block;
      width: auto;
    }
  }

  img {
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 7px solid $background;

    @media (min-width: 768px) {
      width: 130px;
      height: 130px;
    }
  }

  &.active {
    h3 {
      font-size: 1.2rem;
      margin-right: auto;
    }

    img {
      width: 80px;
      height: 80px;
      left: calc(40px + 20px);
    }

    p {
      text-align: left;
    }

    @media (min-width: 576px) {
      h3 {
        margin-right: auto;
        font-size: 1.5rem;
      }

      img {
        width: 100px;
        height: 100px;
        left: calc(50px + 20px);
      }
    }

    @media (min-width: 768px) {
      h3 {
        margin: 0 auto;
        margin-bottom: 20px;
        font-size: 2rem;
      }

      p {
        text-align: center;
      }

      img {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 130px;
        height: 130px;
      }
    }
  }

  &.inactive {
    width: 80px;
    padding-top: 40px;
    h3 {
      font-size: 1rem;
      transform: rotate(-90deg);

      @media (min-width: 576px) {
        font-size: 1.2rem;
      }

      @media (min-width: 768px) {
        transform: none;
        font-size: 2rem;
      }
    }

    p {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }

    @media (min-width: 768px) {
      width: 315px;
      height: 280px;
      padding-top: 60px;
    }
  }

  @media (min-width: 576px) {
    width: 315px;
    height: 280px;
    border-radius: 35px;
    padding-top: 45px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
    padding-top: 60px;
  }
}

.joinPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 20%;
  }

  &__already {
    margin-top: 30px;
    color: $green !important;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
  }

  h3 {
    margin-bottom: 30px;
  }

  p {
    color: $white-50;
    text-align: center;
    font-size: 0.9rem;
  }

  &__members {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p {
      color: $white-50;
      margin: 0;
      margin-right: 40px;
      font-size: 1rem;
    }

    &__pictureList {
      display: flex;
      img {
        margin-left: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $white-20;
        margin-bottom: 0;
      }

      &__other {
        margin-left: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
}
