@import '../../styles/variables';

.logoButton {
  display: flex;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: calc(60px + 20px);
  right: 20px;
  cursor: pointer;

  &.small {
    height: 40px !important;
    width: 40px !important;
  }

  &.medium {
    height: 55px !important;
    width: 55px !important;
    right: 15px !important;
    bottom: 15px !important;
  }

  @media (min-width: 576px) {
    height: 70px;
    width: 70px;
  }

  @media (min-width: 992px) {
    height: 80px;
    width: 80px;
    bottom: 50px;
    right: 50px;
  }

  img {
    width: 65%;
    height: 65%;
    object-fit: cover;
  }
}
