.profile {
  display: flex;
  align-items: center;
  cursor: pointer;

  img {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    object-fit: cover;
  }

  p {
    display: none;
  }

  &.profile__long {
    position: absolute;
    right: 30px;
    top: 30px;

    img {
      position: absolute;
      width: 50px;
      border-radius: 50px;
      left: 0;
      top: 50%;
      transform: translate(-70%, -50%);
    }

    p {
      display: block;
      margin-bottom: 0;
      background: rgba(0, 0, 0, 0.2);
      padding: 5px 20px 5px 25px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }
}
