@import '../../styles/variables';

.navbar {
  background: $popUp;
  left: 0;
  bottom: 0;
  height: 65px;
  width: 100%;
  right: 0;
  position: fixed;
  z-index: 999;
  padding: 0;

  @media (min-width: 992px) {
    height: 100%;
    width: 220px;
    left: 0;
    right: auto;
    top: 0;
  }

  .navbarNav {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;

    @media (min-width: 992px) {
      flex-direction: column;
    }

    .navItem {
      width: 100%;
      opacity: 0.5;
      justify-content: center;
      flex-direction: column;

      &.active {
        opacity: 1;

        @media (min-width: 992px) {
          background: $background;
          position: relative;

          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            background: url(/img/svg/arc-bg.svg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px;
            width: 50px;
            transform: translateY(-100%);
          }

          &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            background: url(/img/svg/arc-bg.svg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 50px;
            width: 50px;
            transform: translateY(100%) rotate(-90deg);
          }
        }
      }

      p {
        color: $white;
        text-align: left;
        font-weight: 500;
        font-size: 0.7rem;
      }

      @media (min-width: 576px) {
        flex-direction: row;

        p {
          font-size: 1rem;
        }
      }

      @media (min-width: 992px) {
        justify-content: flex-start;
        padding: 1.25rem 1rem !important;
      }
    }
  }

  &.small {
    @media (min-width: 992px) {
      width: 70px;

      .navbarNav {
        .navItem {
          justify-content: center;
          padding-left: 0 !important;
          padding-right: 0 !important;
          background: $popUp !important;
          position: static;

          img {
            margin-right: 0 !important;
          }

          p {
            display: none;
          }

          &.active {
            background: $background;
          }
        }
      }
    }
  }
}

.logOut {
  position: absolute !important;
  bottom: 0px;
  margin-bottom: 0 !important;
  cursor: pointer;
}
