@import '../../styles/variables';

.title {
  font-weight: bold;
  font-size: 1.7rem !important;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20px;

  @media (min-width: 576px) {
    font-size: 2.5rem !important;
  }

  @media (min-width: 768px) {
    margin-left: 50px;
  }

  @media (min-width: 992px) {
    font-size: 3rem !important;
    margin-left: 100px;
  }
}

.PopularGroups__divider {
  width: 1px;
  flex-shrink: 0;

  @media (min-width: 768px) {
    width: calc(50px - 21px);
  }

  @media (min-width: 992px) {
    width: calc(100px - 21px);
  }
}
