@import '../../styles/variables';

.vertical {
  margin: 20px;
  margin-bottom: 100px;
  margin-top: 50px;

  @media (min-width: 768px) {
    margin: 50px;
    margin-bottom: 100px;
  }

  @media (min-width: 992px) {
    margin: 100px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  h2 {
    font-weight: bold;
    font-size: 1.7rem !important;

    @media (min-width: 576px) {
      font-size: 2.5rem !important;
    }

    @media (min-width: 992px) {
      font-size: 3rem !important;
    }
  }

  .verticalElement {
    display: flex;
    overflow: scroll;
    justify-content: space-between;
    margin-top: 50px;

    &::-webkit-scrollbar {
      display: none;
    }

    .verticalElement__box {
      min-width: calc(100% - 40px);
      max-width: calc(100% - 40px);
      background: $message;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      padding: 15px 10px 15px 50px;
      margin-left: 40px;
      flex-shrink: 0;
      border-radius: 20px;
      margin-bottom: 50px;

      img {
        position: absolute;
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 80px;
        height: 80px;
        object-fit: cover;
        border: 7px solid $background;
      }

      h3 {
        font-weight: 500;
        margin-bottom: 10px;
        text-align: left;
        font-size: 1.3rem;
      }

      p {
        margin-bottom: 0;
        font-size: 0.5rem;
        color: $white-50;
        text-align: left;
      }

      @media (min-width: 576px) {
        min-width: calc(100% - 50px);
        margin-left: 50px;

        max-width: calc(100% - 50px);
        padding: 20px 10px 20px 60px;
        border-radius: 25px;

        h3 {
          margin-bottom: 20px;
          font-size: 1.5rem;
        }

        p {
          font-size: 0.7rem;
        }

        img {
          width: 100px;
          height: 100px;
        }
      }

      @media (min-width: 768px) {
        padding: 30px 20px 30px 70px;

        min-width: calc(100% - 65px);
        max-width: calc(100% - 65px);
        padding: 30px 20px 30px 85px;
        margin-left: 65px;

        h3 {
          font-size: 2rem;
        }

        img {
          width: 130px;
          height: 130px;
        }
      }

      @media (min-width: 1300px) {
        min-width: 300px;
        max-width: 40%;
      }
    }
  }
}
