@import '../../styles/variables';

.singleGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding: 12px;

  &__image {
    img {
      width: 55px;
      height: 55px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin-left: 15px;

    &__name {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      p {
        color: $white-50;
        font-size: 0.9rem;
        margin: 0;
        font-weight: 600;
      }

      img {
        margin-left: 10px;
        width: 18px;
        height: 18px;
        opacity: 50%;
      }
    }

    &__last {
      display: flex;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-right: 10px;
      }

      p {
        color: $white-50;
        font-size: 0.8rem;
        margin: 0;
        font-weight: normal;
      }
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: auto;

    div {
      height: 20px;
      width: 20px;
      background: $notifications;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 5px;
      opacity: 0;

      span {
        color: $white;
        font-weight: bold;
        font-size: 0.8rem;
      }
    }

    p {
      color: $white-50;
      font-size: 0.8rem;
      margin: 0;
      font-weight: 400;
    }
  }
}

.singleGroupCurrent {
  @media (min-width: 992px) {
    background: rgba(255, 255, 255, 0.03);
  }
}
