.content {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  //display: flex;

  &.topBar {
    padding-top: 60px;
  }

  @media (min-width: 992px) {
    margin-left: 220px;
    width: calc(100% - 220px);

    &.small {
      margin-left: 70px;
      width: calc(100% - 70px);
    }
  }
}
