@import '../../styles/variables';

.otherMessage {
  width: 80%;
  height: auto;
  border-radius: 20px;
  background: $message;
  margin-right: auto;
  margin-bottom: 20px;

  @media (min-width: 700px) {
    width: 60%;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 15px 15px 0 15px;

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    p {
      margin: 0;
      margin-left: 10px;
      font-size: 1rem;
    }

    span {
      margin-left: auto;
      color: $white-50;
      font-size: 0.8rem;
    }
  }

  &__content {
    margin-top: 10px;
    font-size: 0.9rem;
    padding: 0 15px 15px 15px;
  }

  &__contentImage {
    padding: 5px;
    max-height: 400px;
    img {
      width: 100%;
      height: 100%;
      max-height: 390px;
      object-fit: cover;
      border-radius: 16px;
    }
  }
}

.myMessage {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-bottom: 20px;

  @media (min-width: 700px) {
    width: 60%;
  }

  &__content {
    border-radius: 20px;
    background: $green;
    padding: 15px;
    font-size: 0.9rem;
  }

  &__contentImage {
    padding: 5px;
    max-height: 400px;
    img {
      width: 100%;
      height: 100%;
      max-height: 390px;
      object-fit: cover;
      border-radius: 16px;
    }
  }

  span {
    text-align: right;
    font-size: 0.8rem;
  }
}
