@import '../../styles/variables';

.horizontal {
  // margin-top: 50px;
  
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;


  &::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 768px) {
    margin-left: 50px;
  }

  @media (min-width: 992px) {
    margin-left: 100px;
  }
}
