@import '../../styles/variables';

.topBar {
  height: 60px;
  background: $background;
  border-bottom: 2px solid $white-20;
  position: fixed;
  top: 0;
  left: 0px;
  right: 0;
  z-index: 998;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: 576px) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (min-width: 992px) {
    left: 220px;
  }
}
