@import '../../styles/variables';

.search {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
    width: 25px;
    opacity: 0.5;
  }
  input {
    background: transparent;
    border: none;
    font-size: 1.3rem;
    line-height: 1.3rem;

    &::placeholder {
      color: $white-50;
      vertical-align: middle;
    }
  }
}
