@import '../../styles/variables';

.AdminConnexion {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__pannel {
    background: $popUp;
    border: 1px solid $white-20;
    border-radius: 20px;
    padding: 50px;

    &__identifiant,
    &__mdp {
      margin-bottom: 20px;
      input {
        width: 300px;
        background: $white-20;
        border-radius: 10px;
        padding: 5px 10px;
        border: none;
      }
    }

    &__btn {
      display: flex;
      justify-content: center;
    }
  }
}
