@import '../../styles/variables';

.groupList {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  flex-shrink: 0;

  @media (min-width: 992px) {
    width: 380px;
  }

  &__message {
    padding: 20px 0;
    margin-bottom: 10px;

    h2 {
      font-weight: bold;
      font-size: 2rem !important;
      margin: 10px 0 30px 0;
      padding-left: 20px;
    }
    p {
      margin: 20px 0;
      padding-left: 20px;
    }
    @media (min-width: 992px) {
      display: none;
    }
  }
  &__group {
    flex: 1;
    border-radius: 30px;
    background: $message;
    padding: 20px;
    position: relative;
    margin-top: 150px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 992px) {
      height: 100vh;
      border-radius: 0px;
      margin-top: 0;
      padding: 50px 0px 0px 0px;
      padding-top: 30px;
      margin-top: 0px;
    }

    h2 {
      font-size: 2rem !important;
      display: none;
      padding: 0 20px;

      @media (min-width: 992px) {
        display: block;
        margin-bottom: 50px;
      }
    }

    &__type {
      margin-top: 70px;
      margin-bottom: 30px;
      display: none;
      justify-content: flex-start;
      padding: 0 20px;

      @media (min-width: 992px) {
        display: flex;
      }

      p {
        font-size: 0.8rem;
        font-weight: 600;
        cursor: pointer;
        margin-right: 20px;
      }

      .active {
        color: $green;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          animation: slidein 0.3s ease-in-out;
          height: 2px;
          width: 30px;
          background: $green;
          left: 0;
          bottom: -2px;
        }
      }
    }

    &__add {
      display: none;

      @media (min-width: 992px) {
        display: block;
      }
    }

    &__mobileOption {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      @media (min-width: 992px) {
        display: none;
      }

      p {
        margin: 0;
        font-weight: bold;
        font-size: 1.5rem;
      }
      &__btn {
        display: flex;
      }
    }

    &__list {
      position: absolute;
      left: 0;
      right: 0;
      flex: 1 1 auto;
      overflow-y: scroll;
      height: auto;
      max-height: 75%;

      bottom: 65px;
      @media (min-width: 992px) {
        position: static;
        max-height: 85%;
      }
    }
  }
}

@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 30px;
  }
}
