@import '../../styles/variables';

.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &__outerCircle {
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    border: 1px solid $green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s linear;

    &__innerCircle {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: $green;
      transition: all 0.1s linear;
    }

    &__unselectedCircle {
      width: 0;
      height: 0;
    }
  }

  &__unselected {
    border: 1px solid $message;
    background: rgba(0, 0, 0, 0.2);
  }
}
