@import '../../styles/variables';

.GroupCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__pickImage {
    cursor: pointer;
    height: 100px;
    width: 100px;
    background: $message !important;
    border-radius: 50%;
    border: 1px solid $white-20;
    position: relative;

    input {
      display: none;
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 50%;
      display: none;
      object-fit: cover;
    }

    img[src] {
      display: block;
    }

    &:after {
      content: '';
      position: absolute;
      width: 35px;
      height: 35px;
      background: url('/img/svg/icn-plus.svg'), $green;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50%;
      right: 0;
      bottom: 0;
    }
  }

  &__inputOffset {
    margin-top: 20px;
    position: relative;
    max-width: 400px;
    min-width: 250px;
    width: 95%;

    label {
      position: absolute;
      top: 0;
      left: 10px;
      transform: translateY(-50%);
      color: rgba(255, 255, 255, 0.5);
    }

    input {
      width: 100%;
      background: $message;
      border: 0;
      padding: 10px;
      border-radius: 10px;
    }

    textarea {
      width: 100%;
      background: $message;
      border: 0;
      padding: 10px;
      border-radius: 10px;
    }
  }

  &__choseType {
    margin-top: 20px;
    max-width: 400px;
    min-width: 250px;
    width: 95%;

    &__public,
    &__private {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      &__box {
        width: 40px;
        height: 40px;
        background: $message;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__public {
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      padding-top: 10px;

      &__content {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        p {
          margin: 0;
        }

        p:last-of-type {
          font-size: 0.6rem;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__private {
      &__content {
        width: 300px;
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        p {
          margin: 0;
        }

        p:last-of-type {
          font-size: 0.6rem;
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}

.AddMembers {
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 992px) {
    padding: 0 15%;
  }

  &__picture {
    img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 1px solid $white-20;
      object-fit: cover;
      margin-bottom: 30px;
    }
  }

  &__input {
    position: relative;
    width: 100%;
    margin-bottom: 30px;

    input {
      background: $white-20;
      border: none;
      border-radius: 10px;
      padding: 10px 15px;
      width: 100%;

      &::placeholder {
        color: $white-50;
      }
    }

    img {
      position: absolute;
      right: 20px;
      top: 50%;
      width: 25px;
      height: 25px;
      transform: translateY(-50%);
    }
  }

  &__list {
    height: 275px;
    overflow: scroll;
    width: 100%;
    &__member {
      width: 100%;
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        border-radius: 50%;
        border: 1px solid $white-20;
      }

      p {
        margin: 0;
        margin-right: auto;
      }
    }
  }
}
