@import '../../styles/variables';

.VerticalPublicGroup {
  min-width: calc(100% - 40px);
  max-width: calc(100% - 40px);
  background: $message;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 15px 10px 15px 50px;
  margin-left: 40px;
  flex-shrink: 0;
  border-radius: 20px;
  margin-bottom: 50px;
  cursor: pointer;

  img {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 7px solid $background;
  }

  h3 {
    font-weight: 500;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.3rem;
  }

  p {
    margin-bottom: 0;
    font-size: 0.5rem;
    color: $white-50;
    text-align: left;
  }

  @media (min-width: 576px) {
    min-width: calc(100% - 50px);
    margin-left: 50px;

    max-width: calc(100% - 50px);
    padding: 20px 10px 20px 60px;
    border-radius: 25px;

    h3 {
      margin-bottom: 20px;
      font-size: 1.5rem;
    }

    p {
      font-size: 0.7rem;
    }

    img {
      width: 100px;
      height: 100px;
    }
  }

  @media (min-width: 768px) {
    padding: 30px 20px 30px 70px;

    min-width: calc(100% - 65px);
    max-width: calc(100% - 65px);
    padding: 30px 20px 30px 85px;
    margin-left: 65px;

    h3 {
      font-size: 2rem;
    }

    img {
      width: 130px;
      height: 130px;
    }
  }

  @media (min-width: 1300px) {
    min-width: 300px;
    width: 45%;
    max-width: 40%;
  }
}

.joinPopup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 20%;
  }

  &__already {
    margin-top: 30px;
    color: $green !important;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 30px;
    object-fit: cover;
  }

  h3 {
    margin-bottom: 30px;
  }

  p {
    color: $white-50;
    text-align: center;
    font-size: 0.9rem;
  }

  &__members {
    margin-top: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p {
      color: $white-50;
      margin: 0;
      margin-right: 40px;
      font-size: 1rem;
    }

    &__pictureList {
      display: flex;
      img {
        margin-left: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid $white-20;
        margin-bottom: 0;
      }

      &__other {
        margin-left: -15px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $green;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
      }
    }
  }
}
