@import '../../styles/variables';

.conversation {
  flex: 1;
  overflow-y: scroll;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 20px;

  @media (min-width: 992px) {
    padding: 0;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
