@import '../../styles/variables';

.currentGroupInfo {
  width: 280px;
  position: relative;
  display: none;
  flex-shrink: 0;

  @media (min-width: 1400px) {
    display: block;
  }

  &__box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    width: 100%;
    background: $message;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;

    &__picture {
      position: absolute;

      border-radius: 50%;
      width: 80px;
      height: 80px;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__members {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
      }

      &__list {
        margin: 15px 0;
        padding-top: 10px;
        display: flex;
        width: 100%;

        &__creator {
          width: 40%;

          &__img {
            position: relative;
            width: 100%;
            overflow: hidden;

            &:before {
              content: '';
              display: block;
              padding-top: 100%;
            }

            img {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              height: 100%;
              width: 100%;
              border-radius: 50%;
              object-fit: cover;
              border: 1px solid $white-20;
            }
          }

          p {
            margin: 0;
            font-size: 0.8rem;
            margin-top: 10px;
          }
        }

        &__others {
          height: 100px;
          flex: 1;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          align-items: center;

          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 0 3px;
            border: 1px solid $white-20;
            object-fit: cover;
          }
        }
      }
    }

    &__pictureList {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid rgba(255, 255, 255, 0.2);

      p {
        margin: 0;
        width: 100%;
        font-size: 0.8rem;
        margin-top: 15px;
        font-weight: bold;
      }

      &__list {
        padding-top: 10px;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        img {
          width: 65px;
          height: 65px;
          border-radius: 8px;
          margin: 7px;
        }
      }

      &__more {
        color: $green;
        text-align: center;
        margin-bottom: 15px !important;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    &__event {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 20px;
        p {
          margin: 0;
          width: 100%;
          font-size: 0.8rem;
          font-weight: bold;
        }

        &__btn {
          background: $green;
          flex-shrink: 0;
          width: 20px;
          height: 20px;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            width: 10px;
          }
        }
      }

      &__list {
        height: 100%;
        width: 100%;
        &__single {
          background: rgba(0, 0, 0, 0.2);
          border: 1px solid $white-20;
          width: 100%;
          border-radius: 15px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 10px;
          cursor: pointer;
          margin-bottom: 15px;

          img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 10px;
          }

          p {
            margin: 0;
          }
        }
      }
    }
  }
}
