@import '../../styles/variables';

.EventList {
  margin-top: 50px;
  @media (min-width: 992px) {
    margin-top: 100px;
  }
  h2 {
    font-size: 2rem !important;
    text-align: center;

    @media (min-width: 992px) {
      font-size: 3rem !important;
      text-align: left;
      margin-left: 50px;
    }
  }

  &__events {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;

    @media (min-width: 700px) {
      padding: 0 15%;
    }

    @media (min-width: 992px) {
      padding: 0 50px;
      margin-top: 80px;
    }

    &__single {
      position: relative;
      width: 100%;
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid $white-20;
      padding: 15px;
      border-radius: 30px;
      margin-bottom: 30px;

      @media (min-width: 992px) {
        max-width: 100%;
      }

      @media (min-width: 1250px) {
        min-width: 450px;
        max-width: 45%;
      }

      &__groupImage {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transform: translate(40%, -40%);
      }

      &__desc {
        display: flex;
        align-items: center;
        img {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          margin-right: 15px;
        }

        &__name {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;

            &:last-of-type {
              margin-top: 5px;
              font-size: 0.6rem;
              color: $white-50;
            }
          }
        }
      }

      &__info {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        &__date {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
            font-size: 0.9rem;

            &:first-of-type {
              color: $white-50;
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }

        &__location {
          display: flex;
          flex-direction: column;

          p {
            margin: 0;
            font-size: 0.9rem;

            &:first-of-type {
              color: $white-50;
              font-weight: bold;
              margin-bottom: 10px;
            }
          }
        }

        &__author {
          display: flex;
          flex-direction: column;
          p {
            margin: 0;
            font-size: 0.9rem;

            &:first-of-type {
              color: $white-50;
              font-weight: bold;
              margin-bottom: 5px;
            }
          }

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
