@import '../../styles/variables';

.privateList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: 100%;
  padding-left: 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    margin-right: 50px;
    flex-direction: column;
    align-items: center;

    p {
      margin: 0px !important;
      margin-top: 10px !important;
      padding-left: 0 !important;
      text-align: center;
    }

    &__box {
      height: 60px;
      width: 60px;
      border-radius: 30px 20px 0 30px;
      position: relative;
    }

    &__add {
      background: $green;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 35px;
        height: 35px;
      }
    }
  }

  &__spacer {
    width: 1px;
    flex-shrink: 0;
  }
}
