.EventList {
  position: absolute;
  top: 0;
  width: 95%;

  h2 {
    font-size: 1.7rem !important;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 40px;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
