//body
$background: pink;

// Typography
$font-color: #fff;
$font-family-sans-serif: 'Montserrat', sans-serif;
@mixin font-size-base {
  font-size: 1rem;
}

//element
$popUp: #22252f;
$message: #2c303e;

//color
$white: #fff;
$white-50: rgba(255, 255, 255, 0.5);
$white-20: rgba(255, 255, 255, 0.2);
$green: #6ecdb7;
$green-50: rgba(110, 205, 183, 0.5);
$green-20: rgba(110, 205, 183, 0.2);
$yellow: #f2c94c;
$yellow-50: rgba(242, 201, 76, 0.5);
$yellow-20: rgba(242, 201, 76, 0.2);
$red: #e64b30;
$red-50: rgba(230, 75, 48, 0.5);
$red-20: rgba(230, 75, 48, 0.5);
$blue: #56adf0;
$notifications: linear-gradient(to right, #8a2387, #e94057, #f27121);

$header-size: 100px;
$menu-size: 100px;
$header-mobile-size: 60px;
$menu-mobile-size: 60px;
