@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font-family-sans-serif !important;
  color: $font-color;
  outline: none !important;
}

body {
  background-color: $background !important;
  overflow: hidden;
}

h2 {
  font-size: 3.5rem !important;
}

.container {
  padding: 0 2rem !important;
}

.btn {
  border: none !important;
  border-radius: 12px !important;
  font-weight: bold !important;

  &.btn-primary {
    color: $background !important;
    background-color: #fff !important;
  }

  &.btn-secondary {
    color: $font-color !important;
    background-color: $message !important;
  }
}

//size
.vh-100 {
  height: 100vh;
}

.sm-font-size {
  font-size: 0.9rem !important;
}

//color
.white {
  color: $white;
}
.white-50 {
  color: $white-50;
}

.white-20 {
  color: $white-20;
}

.btn-submit {
  background: transparent;
  border: 1px solid $white;
  border-radius: 30px;
}

.btn-submit-green {
  background: $green;
  color: $white;
  border-radius: 30px;
  border: none;
}

//
.split-separator {
  width: 24%;
  height: 1px;
  background: $white-50;
}

//

.inp {
  border-radius: 12px !important;
  outline: none !important;
  border: none !important;
  background: $message !important;
  color: $white !important;
  box-shadow: none !important;

  &.inp-border {
    border: 1px solid $white-20 !important;
  }
}

//temp
.square-temp {
  width: 200px;
  height: 200px;
  background: #333;
}

//
.react-modal-sheet-container {
  background: $popUp !important;
  width: 95% !important;
  height: auto !important;
  min-height: 630px !important;
  max-height: 630px !important;

  border-radius: 30px !important;
  margin: auto;
  left: 2.5% !important;
  bottom: 2.5% !important;

  @media (min-width: 650px) {
    width: 90% !important;
    left: 5% !important;
    bottom: 1% !important;
  }

  @media (min-width: 768px) {
    width: 650px !important;
    left: calc(50% - 325px) !important;
    bottom: calc(50% - 315px) !important;
  }
}

.react-modal-sheet-header {
  height: 30px !important;
}

.react-modal-sheet-drag-indicator {
  background: #464646 !important;
}

.react-modal-sheet-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.react-modal-sheet-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 20px 0;
}

.logoButton-green {
  background: $green;
}

.logoButton-transparent {
  background: transparent;
}

.noAbsolute {
  position: static !important;
}

.flex {
  display: flex;
}

.test {
  left: 0% !important;
}

.react-datepicker-wrapper {
  width: 100%;
  .react-datepicker__input-container {
    input {
      background: rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      padding: 5px 15px;
      border-radius: 10px;
      width: 70%;
    }
  }
}

.react-datepicker {
  background-color: $message !important;
  border-radius: 15px !important;
  border: 1px solid $white-20;

  .react-datepicker__header {
    background-color: transparent !important;
    border-bottom: none !important;

    .react-datepicker__day-names {
      .react-datepicker__day-name {
        color: $white-50;
        font-size: 0.6rem;
      }
    }
  }
  .react-datepicker__month {
    margin-top: 0 !important;
  }

  .react-datepicker__day {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.5);

    &:hover {
      background: rgba(0, 0, 0, 0.2);
      color: $green;
      border: 1px solid $green;
    }
  }

  .react-datepicker__day--disabled {
    border: none;
    background: transparent;
    opacity: 0.4;

    &:hover {
      background: transparent;
      color: $white-50;
      border: none;
    }
  }

  .react-datepicker__day--selected {
    background: $green !important;
    color: $white !important;
    border: none !important;
  }

  .react-datepicker__current-month::first-letter {
    text-transform: uppercase;
  }
  .react-datepicker__current-month {
    color: $white;
    padding: 0 10px;
    text-align: left;
    font-weight: 500;
  }

  .react-datepicker__navigation--previous {
    left: auto;
    right: 30px;
    transform: rotate(135deg);
  }

  .react-datepicker__navigation--next {
    transform: rotate(-45deg);
    right: 15px;
  }

  .react-datepicker__navigation {
    top: 20px;
    opacity: 0.5;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }

  .react-datepicker__month-container {
    padding: 5px;
  }
}

.fixed {
  position: fixed;
  top: 50%;
  left: calc(50% + 180px);
  transform: translate(50%, -50%);
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}

.logoAgora {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 150px;
}
