.rect {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  height: 670px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 1200px) {
    left: 60px;
    right: 60px;
    top: 50px;
    height: 620px;

    img {
      object-fit: contain;
    }
  }
}

.phones {
  position: absolute;
  right: -62%;
  top: -120px;

  @media (min-width: 1030px) {
    right: -55%;
  }

  @media (min-width: 1110px) {
    right: -45%;
  }

  @media (min-width: 1200px) {
    right: -30%;
  }

  @media (min-width: 1400px) {
    right: -20%;
  }
}

.download {
  position: absolute;
  bottom: 50px;

  img {
    margin-right: 50px;
  }
}

.text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 50px 0 0 0;

  h1 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  p {
    text-align: center;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  @media (min-width: 992px) {
    height: 620px;

    padding: 100px 0;
    justify-content: space-between;
    align-items: flex-start;

    p {
      text-align: left;
    }

    .btnContainer {
      flex-direction: row;
      width: auto;
    }
  }
}

.illu {
  width: 400px;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}
