.VerifiedEmail {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      margin-top: 50px;
      text-align: center;
    }
  }
}
