@import '../../styles/variables';

.title {
  text-align: center;
  margin-top: 20px;
}

.DashboardPanel {
  height: 90vh;
  width: 100%;
  padding: 50px;
  display: flex;
  padding-top: 0px;

  &__left {
    width: 60%;
    height: 100%;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__createGroup {
      height: 60%;
      background: $message;
      border: 1px solid $white-20;
      border-radius: 20px;
      margin-bottom: 20px;
    }

    &__listMember {
      height: 40%;
      background: $message;
      border: 1px solid $white-20;
      border-radius: 20px;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;

      &__member {
        display: flex;
        width: 300px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: space-between;

        &:last-of-type {
          margin-bottom: 0;
        }

        &__image {
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }

  &__right {
    width: 40%;
    height: 100%;

    &__listGroup {
      background: $message;
      border-radius: 20px;
      height: 100%;
      width: 100%;
      border: 1px solid $white-20;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 50px;

      &__group {
        display: flex;
        width: 300px;
        margin-bottom: 30px;
        align-items: center;
        justify-content: space-between;

        &:last-of-type {
          margin-bottom: 0;
        }

        &__image {
          img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
            margin-right: 20px;
          }
        }

        p {
          margin: 0;
        }
      }
    }
  }
}
